name: Check Markdown links

on:
  workflow_dispatch:
  schedule:
    - cron: '0 2 * * *'
  pull_request:
    branches:
      - "main"
  push:
    branches:
      - "main"

jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: gaurav-nelson/github-action-markdown-link-check@v1.0.13
      with:
        use-quiet-mode: 'yes'
        use-verbose-mode: 'yes'
        folder-path: 'gtk-layer-shell, gtk-layer-shell-sys'
        file-path: './README.md'